body {
    width: 100%;
    min-width: 320px;
    max-width: 640px;
    margin: 0 auto;
    font-size: 14px;
    font-family: -apple-system, Helvetica, sans-serif;
    color: #666;
    line-height: 1.5;
}


/*点击高亮我们需要清除清除  设置为transparent 完成透明*/

* {
    -webkit-tap-highlight-color: transparent;
}


/*在移动端浏览器默认的外观在iOS上加上这个属性才能给按钮和输入框自定义样式*/

input {
    -webkit-appearance: none;
}


/*禁用长按页面时的弹出菜单*/

img,
a {
    -webkit-touch-callout: none;
}

a {
    color: #666;
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    vertical-align: middle;
}

div {
    /* css3 盒子模型 */
    box-sizing: border-box;
}

.clearfix:after {
    content: "";
    display: block;
    line-height: 0;
    visibility: hidden;
    height: 0;
    clear: both;
}

.app {
    height: 45px;
}

.app ul li {
    float: left;
    height: 45px;
    line-height: 45px;
    background-color: #333333;
    text-align: center;
    color: #fff;
}

.app ul li:nth-child(1) {
    width: 8%;
}

.app ul li:nth-child(1) img {
    width: 10px;
}

.app ul li:nth-child(2) {
    width: 10%;
}

.app ul li:nth-child(2) img {
    width: 30px;
    vertical-align: middle;
    /* 
    文字默认和图片基线对齐 */
}

.app ul li:nth-child(3) {
    width: 57%;
}

.app ul li:nth-child(4) {
    width: 25%;
    background-color: #F63515;
}

.search {
    position: relative;
    overflow: hidden;
    position: fixed;
    width: 100%;
}
.search_btn {
    position: absolute;
    width: 40px;
    height: 44px;
    top: 0;
    left: 0;
    background-color: gray;

}

.search_btn::before {
    content: '';
    margin: 10px 0px 2px 10px;
    display: block;
    width: 20px;
    height: 18px;
    background:url(../images/s-btn.png) no-repeat center;
    background-size:20px 18px;
    /* 这里要用bcs！！！！！！！！！！！！！！不然显示不全背景图片 */
}
.search_main {
    position: relative;
    margin: 5px 50px;
    border-radius: 16px;
    height: 40px;
   
}
.search_login {
    position: absolute;
    width: 40px;
    height: 44px;
    top: 0;
    right: 0;
   line-height: 44px;
    font-size: 18px;
    color: #ccc;
    font-weight: 700;
}

.jd-icon {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 40px;
    height: 40px;
    background: url(../images/jd.png) no-repeat;
    background-size: 20px 15px;

}

.jd-icon::after {
    content: '';
    display: block;
    /* 伪元素记得content+display！！！！bgc！！不是color！！ */
    width: 1px;
    height: 15px;
    background-color: gray;
    position: absolute;
    top: 1px;
    left: 30px;
}

.sou {
    position: absolute;
    top: 8px;
    left: 50px;
    width: 18px;
    height: 15px;
    background: url(../images/jd-sprites.png) no-repeat -81px 0px;
    background-size: 200px auto;
}
/* 重要！！精灵二倍图需要先在ps里变成一半的宽再测坐标！！！！！！！ */

.main>img {
    width: 100%;
}

.main .banner {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
    /* 要让超出的图片隐藏不然圆角看不出效果！！！！！！！！！！ */
}
.main .banner img {
    width: 33.33%;
    float: left;
}

nav a {
    float: left;
    width: 20%;
    text-align: center;
   
}

nav a img {
    width: 40px;
    margin: 10px 0;
}

nav a span {
    display: block;
    /* 直接让他到下面去……！！ */
}
nav {
    padding-top: 5px;
}